<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}LuccianaSoft{% endblock %}</title>
	<!-- Bootstrap JS/CSS -->
	<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons.min.css') }}">
	<!-- Tagify JS/CSS -->
	<script src="{{ url_for('static', filename='tagify.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='tagify.css') }}">
	<!-- JQuery JS -->
	<script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
	<!-- Main Style CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	{% if not nonavbar %}
	<!-- Navigation Bar -->
	<header>
		<div class="logo">
			<i class="bi bi-folder-fill"></i>
			<a class="navbar-brand" href="{{ url_for('document.index') }}">LuccianaSoft</a>
		</div>
		<div>
			<h5>Bienvenido <b>{{ g.user['username'] }}</b>!</h5>
		</div>
		<div class="user-actions">
			{% if g.user %}
				<a class="btn btn-light" href="{{ url_for('document.index') }}">Inicio</a>
				<a class="btn btn-light" href="{{ url_for('auth.logout') }}">Cerrar Sesión</a>
			{% else %}
				<a class="btn btn-light" href="{{ url_for('auth.login') }}">Iniciar Sesión</a>
			{% endif %}
		</div>
	</header>
	{% endif %}

	{% if not nonavbar %}
	<div class="wrapper">
		<div class="sidebar">
			<nav class="nav flex-column py-3">
				<a class="nav-link active" href="{{ url_for('document.index') }}">
					<i class="bi bi-house"></i> Principal
				</a>
				<a class="nav-link" href="{{ url_for('document.status', status='issued') }}">
					<i class="bi bi-clock-history"></i> Pendientes
				</a>
				<a class="nav-link" href="{{ url_for('document.status', status='archived') }}">
					<i class="bi bi-archive"></i> Archivados
				</a>
			</nav>
		</div>

		<div class="content">
	{% endif %}
			{% block content %}{% endblock %}
	{% if not nonavbar %}
		</div>
	</div>
	{% endif %}

	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
