{% extends 'base.html' %}

{% block title %}Crear Nuevo Documento{% endblock %}

{% block content %}
<div class="container">
	<h2>Crear Nuevo Documento</h2>
	<form id="form" method="post" class="mt-4" enctype=multipart/form-data>
		<div class="mb-3">
			<label for="name" class="form-label">Nombre del Documento</label>
			<input type="text" class="form-control" name="name" id="name" placeholder="Nombre del Documento" required>
		</div>
		<div class="mb-3">
			<label for="description" class="form-label">Descripción</label>
			<textarea class="form-control" name="description" id="description" rows="3" placeholder="Descripción" required></textarea>
		</div>
		<div class="mb-3">
			<input type="file" class="form-control" name="file" id="file" required>
		</div>
		{% if documents %}
		<div class="mb-3">
			<label for="reference" class="form-label">Documento de Referencia</label>
			<select name="reference", class="form-select" {% if ref_id %}disabled{% endif %}>
				{% if not ref_id %}
				<option value="" selected disabled hidden>Escoja Documento de Referencia</option>
				{% endif %}
				{% for doc in documents %}
				<option value="{{ doc['id'] }}" {% if ref_id and ref_id == doc['id'] %}selected{% endif %}>{{ doc['id'] }}: {{ doc['name'] }}</option>
				{% endfor %}
			</select>
		</div>
		{% endif %}
		{% if not ref_id %}
		<div class="mb-3">
			<label for="dpt_receivers" class="form-label">Receptores</label>
			<input id="dpt_receivers" name="dpt_receivers" class="form-control" placeholder="Escriba para añadir receptores...">
			<small class="form-text text-muted">Escriba el nombre del Departamento y presione Enter. Escriba "All Users" para enviar a todos.</small>
		</div>
		{% endif %}
		<button type="submit" class="btn btn-success">Crear Documento</button>
		{% if error %}
		<div class="alert alert-danger mt-3">{{ error }}</div>
		{% endif %}
	</form>
</div>
<script>
	const departments = [
		{% for department in departments %}
		{ value: "{{ department['id'] }}", name: "{{ department['name'] }}" },
		{% endfor %}
	];

	// Initialize Tagify on the input
	const form = document.getElementById('form');
	const input = document.getElementById('dpt_receivers');
	const tagify = new Tagify(input, {
		whitelist: departments.map(department => department.name),
		dropdown: {
			maxItems: 10,           // Maximum items to show in dropdown
			classname: 'tagify-dropdown', // Custom dropdown class
			enabled: 0,            // Always show dropdown
			closeOnSelect: false   // Don't close dropdown when an item is selected
		}
	});

	// Convert usernames back to IDs for submission
	form.addEventListener('submit', () => {
		const selectedTags = tagify.value.map(tag => {
			const department = departments.find(d => d.name === tag.value);
			return department ? department.value : null;
		});
		input.value = selectedTags.join(',');
	});
</script>
{% endblock %}
